env/
backend/__pycache__/
backend/full_tindex.txt
backend/index1.txt
backend/indice.txt
backend/tindex.txt
backend/tsize.txt
backend/uploads/
.DS_Store
node_modules/
/dist/

.env.local
.env.*.local

.idea
.vscode
